PROJETO 1 - TURING ACADEMY

In [1]:
#importação das bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import numpy as np

In [2]:
#importando o dataframe
df = pd.read_csv("df_athlete_events.csv")

In [12]:
df.head()

,Athlete_ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
1,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
2,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
3,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
4,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze

In [14]:
#indexação do ID
df.set_index("Athlete_ID", inplace=True)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45567 entries, 4 to 135563
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    45567 non-null  object
 1   Sex     45567 non-null  object
 2   Age     44594 non-null  float64
 3   Height  35547 non-null  float64
 4   Weight  34926 non-null  object
 5   Team    45567 non-null  object
 6   NOC     45567 non-null  object
 7   Games   45567 non-null  object
 8   Year    45567 non-null  int64
 9   Season  45567 non-null  object
 10  City    45567 non-null  object
 11  Sport   45567 non-null  object
 12  Event   45567 non-null  object
 13  Medal   39804 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 5.2+ MB

Notamos que:
1) Age está como float (deve ser int);
2) Weight está como object (deve ser float);
3) Dados faltantes para Age, Height, Weight e Medal;
4) Sex - problema com unique values (M/Male e F/Female);

In [32]:
#Vamos dar uma conferida melhor na categoria Sex
df['Sex'].unique()

array(['M', 'MALE', 'FEMALE', 'F', 'Vic vai te dar um socao',
       'P&D >> Comunidade'], dtype=object)

Podemos perceber que, para Sex, são atribuídos 6 valores únicos, o que indica que foram consideradas 6 possibilidades de sexo.
Dentre elas, podemos destacar algumas bem curiosas: 'Vic vai te dar um socao' e 'P&D >> Comunidade'. Sabemos que isso não condiz com a realidade, em especial a última.
Vamos, então, considerar apenas as opções 'MALE' e 'FEMALAE'.