# **PROJETO 1 - TURING ACADEMY**

## **PRIMEIROS PASSOS E ANÁLISE INICIAL**

In [91]:
#importação das bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import seaborn as sns
import numpy as np

In [92]:
#importando o dataframe
df = pd.read_csv("df_athlete_events.csv")

In [ ]:
#primeira visualização dos dados
df.head()

In [ ]:
#a partir das informações gerais do df, vamos tirar algumas conclusões
df.info()

In [174]:
values = ['Athlete_ID', 'Name', 'Event', 'Games']
df[df.duplicated(subset=values)]

,Athlete_ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
522,2317,Auguste Albert,M,NaN,NaN,NaN,Martha-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 1-2 Ton,Bronze
2408,8683,Jacques Baudrier,M,28.0,NaN,NaN,Crabe II-4,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0.5-1 Ton,Bronze
3608,12115,Gaston Frdric Blanchy,M,31.0,NaN,NaN,Olle,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Gold
5930,19094,Jean Baptiste Albert Joseph Cau,M,25.0,NaN,NaN,Cercle de l'Aviron Roubaix-4,FRA,1900 Summer,1900,Summer,Paris,Rowing,Rowing Men's Coxed Fours,NaN
6130,19874,Jean-Baptiste tienne August Charcot,M,23.0,NaN,NaN,Quand-Mme-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0-0.5 Ton,Silver
8176,26557,Bernard Alexandre Georges Edmond de Pourtals,M,29.0,NaN,NaN,Lerina,SUI,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 1-2 Ton,Silver
8179,26559,Hlne de Pourtals (Barbey-),F,32.0,NaN,NaN,Lerina,SUI,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 1-2 Ton,Silver
8181,26560,Hermann Alexandre de Pourtals,M,53.0,NaN,NaN,Lerina,SUI,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 1-2 Ton,Silver
8797,28501,Alex Walter Diggelmann,M,45.0,NaN,NaN,Switzerland,SUI,1948 Summer,1948,Summer,London,Art Competitions,"Art Competitions Mixed Painting, Applied Arts",Bronze
9239,29661,Jacques Doucet,M,NaN,NaN,NaN,Favorite-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Silver
9432,30274,A. Dubois,M,NaN,NaN,NaN,Gitana-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 3-10 Ton,Silver
9437,30285,J. Dubois,M,NaN,NaN,NaN,Gitana-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 3-10 Ton,Silver
9666,30927,Albert Duval,M,NaN,NaN,NaN,Martha-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 1-2 Ton,Bronze
10521,33564,William Edgar Exshaw,M,34.0,NaN,NaN,Olle,GBR,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Gold
12664,39839,Pierre Gervais,M,NaN,NaN,NaN,Baby-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0-0.5 Ton,Bronze
13044,40973,Victor Auguste Godinet,M,47.0,NaN,NaN,Favorite-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Silver
13960,43650,Henri Napolon Marie Maurice Gufflet,M,36.0,NaN,NaN,Gitana-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 3-10 Ton,Silver
13962,43651,Robert Gufflet,M,16.0,NaN,NaN,Gitana-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 3-10 Ton,Silver
13998,43765,Charles Guiraist,M,NaN,NaN,NaN,Gitana-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 3-10 Ton,Silver
16582,50894,Charles Hugo,M,NaN,NaN,NaN,Martha-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 1-2 Ton,Bronze
20233,61502,Laura Knight (Johnson-),F,50.0,NaN,NaN,Great Britain,GBR,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Painting, Paintings",NaN
21862,66147,Georges Jacques Lambert,M,37.0,NaN,NaN,France,FRA,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Architecture, Designs F...",NaN
22401,67492,Gabriel Charles Jean Le Bret,M,27.0,NaN,NaN,Crabe II-4,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0.5-1 Ton,Bronze
22419,67525,Jacques le Lavasseur,M,NaN,NaN,NaN,Olle,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Gold
23432,70374,Robert Linzeler,M,28.0,NaN,NaN,Quand-Mme-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0-0.5 Ton,Silver
24956,74870,Flix mile Marcotte,M,34.0,NaN,NaN,Crabe II-4,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0.5-1 Ton,Bronze
25192,75648,Charles William Martin,M,71.0,NaN,NaN,Crabe II-4,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0.5-1 Ton,Bronze
25876,77710,Robert Tait McKenzie,M,65.0,NaN,NaN,Canada,CAN,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Sculpturing, Unknown Event",NaN
25877,77710,Robert Tait McKenzie,M,65.0,NaN,NaN,Canada,CAN,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Sculpturing, Unknown Event",NaN
26222,78807,Marcel Meran,M,NaN,NaN,NaN,Scamasaxe-3,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0.5-1 Ton,Silver
26411,79304,Mathias Joseph Ferdinand Jules Henri Mialaret,M,44.0,NaN,NaN,Favorite-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Silver
26435,79412,Camille mile Gaston Michelet,M,32.0,NaN,NaN,Scamasaxe-3,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0.5-1 Ton,Silver
37056,111701,Wadysaw Skoczylas,M,45.0,NaN,NaN,Poland,POL,1928 Summer,1928,Summer,Amsterdam,Art Competitions,"Art Competitions Mixed Painting, Drawings And ...",NaN
38828,116681,Henri Lon Victor Susse,M,55.0,NaN,NaN,Favorite-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Silver
39805,119448,Texier I,M,NaN,NaN,NaN,Quand-Mme-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0-0.5 Ton,Silver
39807,119449,Texier II,M,NaN,NaN,NaN,Quand-Mme-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0-0.5 Ton,Silver
41404,124115,Henri Jules Valton,M,33.0,NaN,NaN,Crabe II-4,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0.5-1 Ton,Bronze
42218,126533,Franois Antoine Vilamitjana (Caubet-),M,53.0,NaN,NaN,Martha-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 1-2 Ton,Bronze

In [168]:
duplicates = df.duplicated()
df[duplicates].sort_values(by = 'Athlete_ID')

,Athlete_ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3608,12115,Gaston Frdric Blanchy,M,31.0,NaN,NaN,Olle,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Gold
6130,19874,Jean-Baptiste tienne August Charcot,M,23.0,NaN,NaN,Quand-Mme-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0-0.5 Ton,Silver
9239,29661,Jacques Doucet,M,NaN,NaN,NaN,Favorite-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Silver
10521,33564,William Edgar Exshaw,M,34.0,NaN,NaN,Olle,GBR,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Gold
13044,40973,Victor Auguste Godinet,M,47.0,NaN,NaN,Favorite-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Silver
22419,67525,Jacques le Lavasseur,M,NaN,NaN,NaN,Olle,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Gold
23432,70374,Robert Linzeler,M,28.0,NaN,NaN,Quand-Mme-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0-0.5 Ton,Silver
25876,77710,Robert Tait McKenzie,M,65.0,NaN,NaN,Canada,CAN,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Sculpturing, Unknown Event",NaN
25877,77710,Robert Tait McKenzie,M,65.0,NaN,NaN,Canada,CAN,1932 Summer,1932,Summer,Los Angeles,Art Competitions,"Art Competitions Mixed Sculpturing, Unknown Event",NaN
26411,79304,Mathias Joseph Ferdinand Jules Henri Mialaret,M,44.0,NaN,NaN,Favorite-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Silver
38828,116681,Henri Lon Victor Susse,M,55.0,NaN,NaN,Favorite-1,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 2-3 Ton,Silver
39805,119448,Texier I,M,NaN,NaN,NaN,Quand-Mme-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0-0.5 Ton,Silver
39807,119449,Texier II,M,NaN,NaN,NaN,Quand-Mme-2,FRA,1900 Summer,1900,Summer,Paris,Sailing,Sailing Mixed 0-0.5 Ton,Silver

Vamos, então, tornar o ID nosso index, para uma abordagem mais clara da solução do problema.

In [ ]:
#indexação do ID
df.set_index("Athlete_ID", inplace=True)

In [ ]:
#a partir das informações gerais do df, vamos tirar algumas conclusões
df.info()

### Notamos que:
***
### `1) Sex - problema com unique values (M/Male e F/Female).`
### `2) Dados faltantes para Age, Height, Weight e Medal;`
### `3) Weight está como object (deve ser float);`
***

Em vista disso, vamos pautar nossa análise em cada uma dessas colunas - 1) a 5). 

Feito isso, seguiremos para outras colunas que possam despertar suspeita ao longo do processo e finalizar com um tratamento das duplicatas.

## **1) SEXO (SEX)**

In [ ]:
#Vamos dar uma conferida melhor na categoria Sex
print(pd.Series(df["Sex"].unique()), end='\n\n') #categoria atualizada com as alterações em M e F

Podemos perceber que, para Sex, são atribuídos 6 valores únicos, o que indica que foram consideradas 6 possibilidades de sexo.
Dentre elas, podemos destacar algumas bem curiosas: 'Vic vai te dar um socao' e 'P&D >> Comunidade'. Sabemos que isso não condiz com a realidade, em especial a última.
**Vamos, então, considerar apenas as opções 'MALE' e 'FEMALE'.**

In [ ]:
# Troca "M" por "MALE"
df["Sex"].replace("M", "MALE", inplace=True)

# Troca "F" e "FEMALE"
df["Sex"].replace("F", "FEMALE", inplace=True)

In [ ]:
#Vamos analisar o perfil dos atletas cujo sexo é Vic vai te dar um socao
df[df["Sex"] == "Vic vai te dar um socao"]

In [ ]:
#Vamos nos atentar à categoria Events dos atletas que possuem o sexo Vic vai te dar um socao
pd.Series(df[df["Sex"] == "Vic vai te dar um socao"]["Event"])

Perceba um padrão: a maioria dos atletas que a série nos mostra jogaram em eventos masculinos. Sabemos disso pois todos os eventos contém a palavra "Men's". 
É importante ressaltar que são 312 atletas que possuem o sexo Vic vai te dar um socao.
Vamos garantir que todos eles são, de fato, homens?

In [ ]:
#Contagem de quantos dos eventos cujos atletas posseum o sexo Vic vai te dar um socao contêm a palavra "Men's"
pd.Series(df[df["Sex"] == "Vic vai te dar um socao"]["Event"].str.contains("Men's")).count()

Match total! Agora sim temos a certeza de que todos esses atletas são, na verdade, do sexo **MALE** e não do sexo Vic vai te dar um socao. Vamos fazer a troca correta?

In [ ]:
# Troca "Vic vai te dar um socao" por "MALE"
df["Sex"].replace("Vic vai te dar um socao", "MALE", inplace=True)

In [ ]:
print(pd.Series(df["Sex"].unique()), end='\n\n')

In [ ]:
#Vamos analisar o perfil dos atletas cujo sexo é P&D >> Comunidade
df[df["Sex"] == "P&D >> Comunidade"]

Veja o padrão: repete-se a palavra "Women's" em Event para esses atletas. Vamos confirmar nosso palpite de forma análoga ao que fizemos anteriormente:

In [ ]:
#Contagem de quantos eventos cujos  atletas possuem o sexo P&D >> Comunidade
pd.Series(df[df["Sex"] == "P&D >> Comunidade"]["Event"]).count()

In [ ]:
#Contagem de quantos dos eventos cujos atletas posseum o sexo P&D >> Comunidade contêm a palavra "Women's"
pd.Series(df[df["Sex"] == "P&D >> Comunidade"]["Event"].str.contains("Women's")).count()

Isso prova por A + B que P&D não é maior que Comunidade e que o sexo que estamos investigando, nesse caso, é **FEMALE**. Vamos aos ajustes?

In [ ]:
# Troca "P&D >> Comunidade" por "FEMALE"
df["Sex"].replace("P&D >> Comunidade", "FEMALE", inplace=True)

In [ ]:
print(pd.Series(df["Sex"].unique()), end='\n\n')

In [ ]:
df.head()

## **2) MEDALHAS (MEDAL)**

In [ ]:
print(pd.Series(df["Medal"].unique()), end = "\n\n")

Geralmente, as medalhas são Gold, Silver ou Bronze. Nelson é um pouco estranho, não? Vamos tratar esse caso e os valores inválidos.

In [ ]:
#Vamos dar uma olhada no quadro geral de Medal
df["Medal"].describe()

In [ ]:
#Vamos analisar a quantidade de cada medalhas em relação ao total
df.groupby("Medal").count()

Veja que Silver é a medalha que menos se repete.

Nelson, por outro lado, é a que menos se repete e sua participação no grupo total de medalhas é ínfima (166 medalhas de 39804), representando menos de 0.5% das medalhas.

Uma maneira de atacar esse problema é: Nelson representa medalhas reais, que foram atribuídas a atletas reais. É provável que Nelson seja uma medalha Gold, Silver ou Bronze, mas que, por algum erro, tenha sido digitada de forma incorreta. 

**Para alterar Nelson, é razoável considerarmos o valor que menos se repete: Silver. Isso só é possível pois se espera que a distribuição de medalhas Gold, Silver e Bronze seja a mesma no total.**

In [ ]:
#Troca Nelson por Silver

df["Medal"].replace("Nelson", "Silver", inplace = True)

In [ ]:
#Checando o sucesso da operação anterior
df["Medal"].unique()

Vamos, agora, dar uma olhada nos valores nulos dessa coluna.

In [ ]:
#Contagem dos valores nulos na coluna Medal

df["Medal"].isnull().sum()

Perceba que os valores nulos representam os atletas não medalhistas. Como, para a nossa análise (feita mais pra frente), serão considerados apenas os medalhistas olímpicos, é de bom tom dropar os valores que não nos são importantes. Dessa forma, podemos garantir que nossa análise seja mais apurada e próxima da realidade.

Dito isso, vamos dropar o que for nulo!

In [ ]:
#Dropa os valores nulos 

df.dropna(subset = ["Medal"], inplace = True)

In [ ]:
#Confere o sucesso da operação anterior

df["Medal"].isnull().sum()

## **3) ANO (YEAR)**

Vamos dar uma olhada geral nos dados da coluna Year primeiro, ok?

In [ ]:
df.describe().T

Para Year, destaca-se o valor mínimo negativo. **Não faz sentido um ano ser negativo**. Mas, antes de mais nada, vamos entender qual o papel deles no nosso dataset. 

Para isso, vamos montar um gráfico!

In [ ]:
#Vamos plotar um gráfico que ilustre a situação dos valores negativos atribuídos ao ano
plt.figure(figsize=(18,4))
sns.boxplot(x = df["Year"], palette = "Set3")
plt.title("Boxplot da coluna YEAR")
plt.show()

O gráfico acima nos mostra muito bem que esses valores negativos são **outliers** e, nesse caso, podemos ver que também distorcem os valores das idades.
 
**Para resolver isso, vamos descartar esses valores.**

In [ ]:
#Descartando os outliers
df = df[df["Year"] > 0]

In [ ]:
#Novo gráfico boxplot
plt.figure(figsize=(18,4))
sns.boxplot(x = df["Year"], palette = "Set3")
plt.title("Boxplot da coluna YEAR")
plt.show()

Viu como o novo gráfico nos indica resultados bem mais coerentes com o nosso dataset? 

Aqueles outliers prejudicavam bastante a qualidade da nossa análise. Agora, ela pode ser feita de um jeito muito mais satisfatório.

## **4) IDADE (AGE)**

Acabamos nosso tratamento de dados em Year. Vamos para Age. 

Do describe anterior, não pudemos identificar nenhum problema. Vamos ver se há valores nulos, então.

In [ ]:
#Verifica se há valores nulos na coluna Age

df["Age"].isnull().sum()

Vamos substituir os valores faltantes para Age. Mas pelo quê? 

Utilizar a **mediana** dos valores, nesse caso, é uma solução razoável. Vamos a ela!

In [ ]:
#Mediana das idades

df["Age"].median()

In [ ]:
#Substitui os valores nulos pela mediana 

df["Age"] = df["Age"].fillna(df["Age"].median())

In [ ]:
#Confere o sucesso da operação anterior

df["Age"].isnull().sum()

Vamos tratar da coluna Height. 

Consideremos que o maior atleta do mundo tem 2,46m de altura. 

Veja, abaixo, que dentro desse intervalo, a altura maior é 2.23m. É razoável, portanto, que a tomemos como o limite das alturas dos nossos atletas, pois é o máximo valor menor ou igual a real altura máxima de um atleta.

Qualquer valor acima disso, deverá ser reajustado corretamente.

In [ ]:
df[df["Height"] <= 246]["Height"].max()

In [ ]:
#Contagem da quantidade de alturas maiores que a altura máxima 246cm
df.groupby(df["Height"] > 246).count()

In [ ]:
#Contagem da quantidade de alturas com dados nulos
df["Height"].isnull().sum()

Vamos tratar os casos nulos e excedentes das nossas alturas!
A técnica de substituir pela mediana também é boa nesse caso.

In [ ]:
#Substituindo os valores nulos pela mediana
df["Height"] = df["Height"].fillna(df["Height"].median())
#Substituindo os valores maiores que a altura máxima pela mediana
df.loc[df["Height"] > 246, "Height"] = df["Height"].median()

In [ ]:
#Checagem do sucesso do tratamento
df[df["Height"] > 246]

## **5) PESO (WEIGHT)**

Agora, tratemos a coluna Weight. Como visto anteriormente, **precisamos transformá-la em float**.

Mas antes disso, vejamos abaixo que, dentre os valores possíveis, há uma string: 'hsuahusahu'.

**Primeiro, ela deve ser transformada em um número** e, após isso, podemos alterar o tipo da nosssa coluna.

In [ ]:
#Visualização inicial da coluna Weight - veja que é do tipo objeto

df["Weight"].describe()

In [ ]:
#Valores únicos de Weight - veja que há um incompatível com o que esperamos

df["Weight"].unique()

In [ ]:
#Troca "hsuahusahu" pela moda

df["Weight"].replace("hsuahusahu", df["Weight"].mode()[0], inplace = True)

In [ ]:
#Checa o sucesso da operação anterior

df[df["Weight"] == "hsuahusahu"]

In [ ]:
#Transforma os dados de Weight em float

df["Weight"] = df["Weight"].astype(float)

In [ ]:
#Checa o sucesso da operação anterior - o tipo de dado é, de fato, float

df["Weight"].describe()

In [ ]:
#Quantidade de valores nulos em Weight

df["Weight"].isnull().sum()

In [ ]:
#Substitui os valores nulos pela mediana

df["Weight"].fillna(df["Weight"].median(), inplace = True)

In [ ]:
#Checa o sucesso da operação anterior

df["Weight"].isnull().sum()

## **6) CIDADE (CITY)**

In [93]:
#Verifica os valores únicos da coluna City
df["City"].unique()

array(['Paris', 'Albertville', 'Antwerpen', 'Sochi', 'London', 'Helsinki',
       'Lillehammer', 'Salt Lake City', 'Torino', 'Beijing', 'Seoul',
       'Atlanta', 'Oslo', 'Squaw Valley', 'Stockholm', 'Melbourne',
       'Rio de Janeiro', 'Sydney', 'Athina', 'Moskva', 'Los Angeles',
       'Barcelona', 'Berlin', 'Tokyo', 'Roma', 'Munich', 'Chamonix',
       'St. Louis', 'Sankt Moritz', 'Nagano', 'Calgary', 'Grenoble',
       'Montreal', 'Vancouver', 'Amsterdam', 'Mexico City', 'Sapporo',
       'Lake Placid', 'Sarajevo', 'Garmisch-Partenkirchen',
       "Cortina d'Ampezzo", 'Innsbruck', '######'], dtype=object)

In [94]:
#Primeira visualização dos valores estranhos na coluna City

df[df["City"] == "######"]

,Athlete_ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
1565,5815,"Gillian ""Jill"" Atkins",F,29.0,165.0,65.0,Great Britain,GBR,1992 Summer,1992,Summer,######,Hockey,Hockey Women's Hockey,Bronze
2158,7903,Jane Louise Barkman (-Brown),F,17.0,169.0,61.0,United States,USA,1968 Summer,1968,Summer,######,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold
3016,10360,Liubov Ivanivna Berezhna-Odynokova,F,20.0,167.0,61.0,Soviet Union,URS,1976 Summer,1976,Summer,######,Handball,Handball Women's Handball,Gold
3211,10955,Annemieke Marileen Bes,F,30.0,177.0,70.0,Netherlands,NED,2008 Summer,2008,Summer,######,Sailing,Sailing Women's Three Person Keelboat,Silver
3435,11671,"Suzanne Brigit ""Sue"" Bird",F,35.0,175.0,66.0,United States,USA,2016 Summer,2016,Summer,######,Basketball,Basketball Women's Basketball,Gold
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44090,131311,Jenny Wolf (-Lotze),F,31.0,172.0,75.0,Germany,GER,2010 Winter,2010,Winter,######,Speed Skating,Speed Skating Women's 500 metres,Silver
44217,131657,Katarzyna Bronisawa Woniak,F,20.0,173.0,61.0,Poland,POL,2010 Winter,2010,Winter,######,Speed Skating,Speed Skating Women's Team Pursuit (6 laps),Bronze
44378,132068,Xu Jing,F,21.0,169.0,hsuahusahu,China,CHN,2012 Summer,2012,Summer,######,Archery,Archery Women's Team,Silver
44804,133368,Yu Song,F,29.0,182.0,128.0,China,CHN,2016 Summer,2016,Summer,######,Judo,Judo Women's Heavyweight,Bronze
45507,135381,Angela Zuckerman (-Davre),F,26.0,175.0,65.0,United States,USA,1992 Winter,1992,Winter,######,Speed Skating,"Speed Skating Women's 3,000 metres",NaN

In [158]:
#x = df[df["Games"] == "2016 Summer"]
#x[x["Event"] == "Archery Women's Team"]
newDF = df[["Games", "Event", "City"]]
errorDF = newDF[newDF["City"] == "######"]
rightDF = newDF[newDF["City"] != "######"]
errorDF.groupby("Games")
dE = errorDF.T.to_dict('list')
dE.values()
rightDF.groupby("Games")
dR = rightDF.T.to_dict('list')

Dentre os valores de City, temos "#####", que é estranho ao conteúdo do nosso dataset. 

A partir da tabela acima, podemos ver que não é possível estabelecer nenhuma relação entre os valores desconhecidos e as demais colunas. Ou seja, não é possível inferir o nome de cada cidade, ainda que saibamos as demais informações de cada atleta.

Como, nesse caso, o valor desconhecido representa menos de 0.3% da quantidade total dos dados, podemos afirmar que seu descarte não afetará negativamente uma futura análise.

Então, vamos **dropar** esses valores!

In [ ]:
#Dropando os valores inválidos

#df.drop(df.loc[df["City"] == "######"].index, inplace = True)

In [ ]:
#Checa o sucesso da operação anterior

df[df["City"] == "######"]

## **7) ESTAÇÃO DO ANO (SEASON)**

In [ ]:
#Verifica os valores únicos de Season
df["Season"].unique()

In [ ]:
#Troca Ele nunca pela respectiva Season
df.loc[(df["Games"].str.contains("Summer")) & (df["Season"] == "Ele nunca"), "Season"] = "Summer"
df.loc[(df["Games"].str.contains("Winter")) & (df["Season"] == "Ele nunca"), "Season"] = "Winter"

In [ ]:
#Troca Ele não pela respectiva Season
df.loc[(df["Games"].str.contains("Summer")) & (df["Season"] == "Ele não"), "Season"] = "Summer"
df.loc[(df["Games"].str.contains("Winter")) & (df["Season"] == "Ele não"), "Season"] = "Winter"

In [ ]:
df[df["Season"] == "#ForaBolsonaro"]

In [ ]:
df[df["Team"] == "#ForaBolsonaro"]

Percebemos que todas as colunas Season com #ForaBolsonaro estão relacionadas a colunas Team com o mesmo valor.

Ainda que possamos inferir os valores corretos para cada Season a partir de Games, não conseguimos inferir, por outro lado, o valor da coluna Team.

Nesse caso, para que nosso dataset continue coerente e, da mesma forma, nossa análise também, uma alternativa é dropar os #ForaBolsonaro.

In [ ]:
#Dropando os #ForaBolsonaro

df = df[df["Season"] != "#ForaBolsonaro"]

In [ ]:
#Conferindo o sucesso da operação anterior

df["Season"].unique()

## **8) O CASO DAS DUPLICATAS**

In [ ]:
#Checa a existência de valores duplicados
df[df.duplicated(keep=False)]

Note que as linhas duplicadas são idênticas, não havendo nenhum caso de duplicação parcial.

Basta, portanto, que eliminemos as duplicatas, mantendo apenas uma delas em nosso dataset.

In [ ]:
#Dropando as duplicatas

df.drop_duplicates(keep = "first", inplace = True)

In [ ]:
#Confere o sucesso da operação anterior

df[df.duplicated(keep = False)]

## **GRÁFICOS**

Feita a limpeza dos dados, vamos analisar nosso dataset.

Um primeiro passo é construir um mapa de calor para entender melhor qual a relação entre os dados que temos em mãos.

In [ ]:
#Criação do heatmap

plt.figure(figsize=(10,5))
corrs = df.corr()
mask = np.zeros_like(corrs)
mask[np.triu_indices_from(mask)] = True
sns.heatmap(corrs, annot=True, vmin=-1, vmax=1, mask = mask, cmap='Spectral_r')
plt.title('Correlation Matrix',  fontsize = 20, color = 'black')
plt.show()

A matriz de correlação acima informa que as colunas com maior correlação são as de peso (Weight) e de altura (Height). 

Em seguida, temos peso e idade (Age). 

Isso ocorre por razões bastante óbvias e, por conta disso, não vamos nos debruçar sobre esses dados.

Vamos buscar, então, por relações entre os demais dados do dataset. Para isso, seguiremos a seguinte lógica:

1. Fazer uma análise geral das Olímpiadas quanto a alguns critérios (e tirar conclusões disso);
2. Fazer uma análise segundo o critério Sexo;
3. Fazer uma análise dos atletas mais medalhistas e outra segundo o critério Esporte.

### **ANÁLISE GERAL (INVERNO x VERÃO)**

In [ ]:
plt.subplots(figsize = (20,10))
my_palette = {'Gold': 'gold','Silver': 'silver', 'Bronze': '#cd7f32' }
sns.countplot(x= "Year", hue= 'Medal', data= df , palette= my_palette);
plt.xlabel('Years', fontsize = 15, color = 'black')
plt.ylabel('Count', fontsize = 15, color = 'black')
plt.title('Number of medals per year', fontsize = 20, color = 'black')
plt.plot()

Uma análise do gráfico acima permite concluir que, no geral, a quantidade de medalhistas aumenta com o passar dos anos. Isso pode ser explicado razoavelmente por uma maior participação de atletas e um aumento de eventos nas Olímpiadas.

Também podemos ver que a quantidade de medalhistas de ouro sempre é maior que a dos demais. Quanto à distribuição das medalhas, dentre suas categorias, basta essa análise.

Por fim, é notório que há alguns casos que saltam aos olhos. Por exempo, a diferença gritante entre a quantidade de medalhas entre os Jogos de 1992 e 1994, 2008 e 2010 ou 2012 e 2014. Isso pode estar relacionado à estação em que ocorrem as Olímpiadas. 

Muito provavelmente, nas de Inverno, poucos atletas e comitês participem, enquanto, nas de Verão, há um salto expressivo de participantes e maior variedade de eventos. Dessa forma, temos menos medalhas a serem entregues no Inverno e mais no Verão.

Vamos analisar essas diferenças mais para frente e atestar se essa hipótese está correta!

In [ ]:
season = df["Season"].value_counts()
plt.subplots(figsize = (20,5))
my_palette = {"Summer": "#F3872F", "Winter": "#50A3C6"}
sns.barplot(x=season.index, y=season, palette = my_palette)
plt.xlabel('Season', fontsize = 15, color = 'black')
plt.ylabel('Athletes count', fontsize = 15, color = 'black')
plt.title('Athletes participation along the seasons', fontsize = 20, color = 'black')
plt.plot()

O gráfico acima apresenta o que já era esperado: no Inverno, a participação nos Jogos é bem menor que no Verão. 

É nítido que essa diferença ocorre por conta da questão climática, o que reflete também na quantidade de modalidades disputadas.

In [ ]:
newData = df.groupby("Year").agg({"Name": pd.Series.nunique}).reset_index()

plt.subplots(figsize = (20,5))
sns.pointplot(data = newData, x= "Year", y = "Name",  color= "blue");
plt.xlabel('Year', fontsize = 15, color = 'black')
plt.ylabel('Athletes count', fontsize = 15, color = 'black')
plt.title('Athletes evolution along the years', fontsize = 20, color = 'black')
plt.plot()

O gráfico acima informa a evolução da participação de atletas ao longo dos anos.

Em um primeiro momento, pode-se constatar que, no geral, conforme o passar dos anos, essa quantidade aumenta, como esperávamos. É esperado, então, que o mesmo gráfico, em relação aos Comitês participantes, seja bastante parecido com esse.

Outro ponto de destaque são os anos dos Jogos de Inverno. Mais uma vez, percebemos que são justamente eles que têm a menor participação de atletas.

Novamente, há casos especiais que podem ser explicados por fatores históricos, o que justificaria sua não inserção no padrão visto.

Os anos iniciais do século XX corresponde ao período de consolidação do formato das Olímpiadas como temos atualmente, o que explica a baixa participação de atletas, com alguns altos e baixos.

O trecho decrescente nos anos 20 e 30 correspondem às Olímpiadas que ocorrem em meio a Grande Depressão e a Crise de 29, o que afetou profundamente os ânimos das pessoas e a economia de todos os países. Por conta disso, houve baixa adesão aos Jogos.

Após 12 anos de interrupção (devido à Segunda Guerra Mundial), os Jogos Olímpicos voltam em 1948, porém, em um cenário bastante afetado pelos acontecimentos anteriores. Novamente, vemos uma queda na participação.

Em 1956, temos o início da Guerra Fria e a ocorrência de conflitos políticos internacionais (alguns armados até). Atribui-se a essa época os primeiros boicotes às Olímpiadas. 

Esses exemplos bastam para concluir que a história das Olímpiadas é feita de altos e baixos, sendo que a ocorrência dos Jogos é bastante influenciada pelo contexto de seu tempo e da sociedade contemporânea à ela. Isso, somado à questão das estações do ano, explica alguns momentos de baixa ou alta participação, em contraste ao padrão de crescente participação que se nota no comportamento da curva.

In [ ]:
newData = df.groupby("Year").agg({"NOC": pd.Series.nunique}).reset_index()

plt.subplots(figsize = (20,5))
sns.pointplot(data = newData, x= "Year", y = "NOC",  color= "blue");
plt.xlabel('Year', fontsize = 15, color = 'black')
plt.ylabel('Countries count', fontsize = 15, color = 'black')
plt.title('Countries participation along the years', fontsize = 20, color = 'black')
plt.plot()

O gráfico acima está em conssonância com o anterior e apresenta o comportamento que imaginávamos para ele.

Alguns pontos se destacam nessa curva em relação à anterior e vamos falar de um bem importante.

Em 1984, temos, de fato, um crescimento singular da quantidade de países participantes. Em meio à Guerra Fria, isso pode ser explicado por uma série de manobras políticas realizadas pelos EUA para garantir o sucesso da edição, a qual foi boicotada pela União Soviética e outros países. A tentativa da URSS claramente deu errado, visto que mais países participaram dessa edição, sendo que, inclusive, essa é a primeira participação da China no evento em toda a história.

In [ ]:
countries = list(df['NOC'].unique())
medal_counts = []
for i in countries:
    x = df[df['NOC'] == i]
    medalCount = len(x)
    medal_counts.append(medalCount)

newData = pd.DataFrame({'countries': countries,'medal_counts':medal_counts})
new_index = (newData['medal_counts'].sort_values(ascending=False)).index.values
sorted_data = newData.reindex(new_index)
sorted_data = sorted_data.head(10)

plt.figure(figsize = (20,5))
sns.barplot(y = sorted_data['countries'], x = sorted_data['medal_counts'], palette= "bright")
plt.xlabel('Countries', fontsize = 15, color = 'black')
plt.ylabel('Count', fontsize = 15, color = 'black')
plt.title('Olympic Medals by Country - Top 10', fontsize = 20, color = 'black')
plt.show()

O gráfico de barras acima nos indica a distribuição de medalhas olímpicas por país, em um Top 10, considerando todo o período de tempo do nosso dataset.

O primeiro e o segundo lugar ficam com os Estados Unidos e a União Soviética, respectivamente e como era esperado. O resultado não poderia ser outro considerando que os dados se referem principalmente aos Jogos durante o século XX, marcado pela competição, inclusive esportiva, entre esses países.

Em seguida, o Top 10 é completado apenas por países desenvolvidos (Canadá e europeus). A ausência de países latinos e africanos é algo que chama bastante a atenção nesse caso.

In [ ]:
countries = list(df['NOC'].unique())
medal_counts = []
for i in countries:
    x = df[df['NOC'] == i]
    medalCount = len(x)
    medal_counts.append(medalCount)

newData = pd.DataFrame({'countries': countries,'medal_counts':medal_counts})
new_index = (newData['medal_counts'].sort_values(ascending=False)).index.values
sorted_data = newData.reindex(new_index)
sorted_data = sorted_data[26:57]

plt.figure(figsize = (20,5))
sns.barplot(y = sorted_data['countries'], x = sorted_data['medal_counts'], palette= "bright")
plt.xlabel('Countries', fontsize = 15, color = 'black')
plt.ylabel('Count', fontsize = 15, color = 'black')
plt.title('Olympic Medals by Country - 26th to 56th', fontsize = 20, color = 'black')
plt.show()

Alterando o intervalo da lista de países, podemos obter o gráfico acima.

Perceba que o Brasil está na 26ª posição apenas. Somente a partir dessa posição, encontramos países latinos, como Cuba, Argentina e Jamaica. 
Países africanos, como a África do Sul, o Quênia e a Nigéria, estão perto da quadragésima posição.

In [ ]:
countries = list(df['NOC'].unique())
medal_counts = []
for i in countries:
    x = df[df['NOC'] == i]
    medalCount = len(x[x["Medal"] == "Gold"])
    medal_counts.append(medalCount)

newData = pd.DataFrame({'countries': countries,'medal_counts':medal_counts})
new_index = (newData['medal_counts'].sort_values(ascending=False)).index.values
sorted_data = newData.reindex(new_index)
sorted_data = sorted_data.head(10)

plt.figure(figsize = (20,5))
sns.barplot(y = sorted_data['countries'], x = sorted_data['medal_counts'], palette= "bright")
plt.xlabel('Countries', fontsize = 15, color = 'black')
plt.ylabel('Count', fontsize = 15, color = 'black')
plt.title('Gold Olympic Medals by Country - Top 10', fontsize = 20, color = 'black')
plt.show()

O gráfico acima nos indica distribuição de medalhas de ouro entre os comitês olímpicos. O cenário não surpreende. Mais uma vez, é liderado pelos países desenvolvidos.

Diante de tudo o que vimos até agora, especialmente os últimos gráficos, é possível afirmar que há uma disparidade profunda entre a participação e a conquista dos países mais desenvolvidos e os que são periféricos, em qualquer quesito positivo, como medalhas obtidas, por exemplo.

É esperado que vejamos essa tendência de distribuição desigual se repetir para outras análises também.

Mas será que essa diferença de posições, por exemplo, pode ser explicada? 

Por que países mais desenvolvidos têm mais medalhas (geral e ouro) e os países periféricos possuem menos?

### **SEXO**

In [ ]:
plt.subplots(figsize = (20,5))
my_palette = {'Gold': 'gold','Silver': 'silver', 'Bronze': '#cd7f32' }
sns.countplot(x= "Sex", hue= 'Medal', data= df , palette= my_palette);
plt.xlabel('Sex', fontsize = 15, color = 'black')
plt.ylabel('Count', fontsize = 15, color = 'black')
plt.title('Number of medals per sex', fontsize = 20, color = 'black')
plt.plot()

O gráfico acima nos apresenta a distribuição de medalhas segundo critérios de sexo.

A diferença entre medalhas dadas aos homens e as dadas às mulheres e bastante significativa. Enquanto os homens somam mais de 12 mil medalhas de ouro apenas, as mulheres não atingem sequer 6 mil medalhas da mesma categoria.

É claro que essa disparidade pode ser explicada por várias questões sociais. Por exemplo, nem sempre as mulheres puderam participar dos Jogos Olímpicos. É óbvio, então, que elas tenham menos medalhistas, já que não tiveram a mesma oportunidade de participação.

Vamos entender um pouco da participação das mulheres nos Jogos ao longo do tempo?

In [ ]:
years = list(df["Year"].unique())
M = []
F = []

for i in years:
    x = df[df["Year"] == i]
    male = len(x[x["Sex"] == "MALE"])
    M.append(male)
    female = len(x[x["Sex"] == "FEMALE"])
    F.append(female)


plt.subplots(figsize = (20,5))
sns.pointplot(x= years, y = M,  color= "blue", label = 'Male');
sns.pointplot(x= years, y = F,  color= "red", label = 'Female');
male_patch = mpatches.Patch(color='blue', label='M')
female_patch = mpatches.Patch(color='red', label='F')
plt.legend(handles=[male_patch, female_patch])
plt.xlabel('Year', fontsize = 15, color = 'black')
plt.ylabel('Count', fontsize = 15, color = 'black')
plt.title('Participation in Olympics by sex along the years', fontsize = 20, color = 'black')
plt.plot()

Como esperávamos, nos anos iniciais, a participação das mulheres rodeia zero. Inclusive, em 1896, a primeira edição dos Jogos Modernos, não houve atletas mulheres!

Com o tempo, esse número aumenta gradativamente. Isso, com certeza, se deve às mudanças sociais decorrentes da luta das mulheres em todo o mundo.

Vemos também que, assim como os homens, as mulheres também participam menos durante os Jogos de Inverno.

A maior participação das mulheres foi em 2016, representando quase 50% do total de atletas, sendo essa, portanto, também a edição com mais igualdade entre os sexos.

In [ ]:
year2016 = df[df["Year"] == 2016]
fig, ax = plt.subplots(figsize = (7,7))
ax.grid(False)
plt.title('Sex participation according to 2016', color = 'black', fontsize = 20)
plt.pie(year2016['Sex'].value_counts(), wedgeprops={'alpha':0.5}, autopct='%1.1f%%', labels = ["Male", "Female"], textprops={'fontsize': 15})
fig.set_facecolor('wheat')
plt.show()

O gráfico de pizza acima indica que a participação das mulheres chegou bem perto da metade em relação ao total de atletas. Isso confirma a hipótese anterior, quando comparado ao gráfico de evolução, que a edição com a maior participação das mulheres foi a mais recente do nosso dataset, o que também é coerente com a evolução da história mundial.

No entanto, os atletas homens dominam ainda as Olímpiadas em termos de participação.

In [ ]:
countries = list(df["NOC"].unique())
F = []

for i in countries:
    x = df[df["NOC"] == i]
    female = len(x[x["Sex"] == "FEMALE"])
    F.append(female)

newData = pd.DataFrame({'countries': countries,'female athletes':F})
new_index = (newData['female athletes'].sort_values(ascending=False)).index.values
sorted_data = newData.reindex(new_index).head(10)

plt.subplots( figsize = (20,5))
sns.barplot( x= sorted_data['countries'], y = sorted_data['female athletes'], palette = "bright")
plt.xlabel('Countries', fontsize = 15, color = 'black')
plt.ylabel('Female Athletes Count', fontsize = 15, color = 'black')
plt.title('Female Athletes by Countries - Top 10', fontsize = 20, color = 'black')
plt.plot()

O gráfico acima apresenta o Top 10 dos países com mais atletas medalhistas mulheres. Vamos finalizar nossa análise segundo o critério de Sexo com esse gráfico.

Mais uma vez, o cenário é dominado pelos países desenvolvidos, sendo que EUA, Alemanha e URSS dominam o pódio.

Como estamos tratando todo o período Moderno das Olímpiadas, é de se esperar que hajam duas categorias diferentes: uma para a URSS (que já não mais existe) e outra para a Rússia (RUS); ou até mesmo uma para a Alemanha Oriental (GDR) e outra para a Alemanha (GER), do tempo presente.

Destaque para países como China e Países Baixos, que aparecem nesse gráfico, ainda que não tenham tido posição de destaque no gráfico de países mais medalhistas, por exemplo. Apesar disso, alguns conhecidos desse gráfico reaparecem aqui, como Canadá, Grã-Bretanha, Áustria, EUA e Alemanha.

In [ ]:
countries = list(df["NOC"].unique())
F = []

for i in countries:
    x = df[df["NOC"] == i]
    female = len(x[x["Sex"] == "FEMALE"])
    F.append(female)

newData = pd.DataFrame({'countries': countries,'female athletes':F})
new_index = (newData['female athletes'].sort_values(ascending=False)).index.values
sorted_data = newData.reindex(new_index)
sorted_data = sorted_data[19:50]

plt.subplots( figsize = (20,5))
sns.barplot( x= sorted_data['countries'], y = sorted_data['female athletes'], palette = "bright")
plt.xlabel('Countries', fontsize = 15, color = 'black')
plt.ylabel('Female Athletes Count', fontsize = 15, color = 'black')
plt.title('Female Athletes by Countries - 19th to 49th', fontsize = 20, color = 'black')
plt.plot()

Dessa vez, o Brasil aparece na 19ª posição. 

No entanto, países latinos tornam-se destaque apenas a partir da posição brasileira. Países africanos em posições semelhantes às do gráfico de medalhas por país (41ª com a África do Sul).

Será que a diferença existente entre países desenvolvidos e periféricos também se reflete nas questões de sexo? Por que mulheres europeias e norte-americanas têm maior participação nos espotes do que as latinas e africanas, por exemplo?

### **ATLETAS MAIS MEDALHISTAS E ESPORTES**

In [ ]:
athletes = list(df["Name"].unique())
medal_counts = []
for i in athletes:
    x = df[df["Name"] == i]
    medalCount = len(x)
    medal_counts.append(medalCount)

newData = pd.DataFrame({'athletes': athletes,'medal_counts':medal_counts})
new_index = (newData['medal_counts'].sort_values(ascending=False)).index.values
sorted_data = newData.reindex(new_index)
sorted_data = sorted_data.head(10)

plt.figure(figsize = (20,5))
sns.barplot(y = sorted_data['athletes'], x = sorted_data['medal_counts'], palette= "Dark2")
plt.xlabel('Athletes', fontsize = 15, color = 'black')
plt.ylabel('Count', fontsize = 15, color = 'black')
plt.title('Olympic Medals by Athlete - Top 10', fontsize = 20, color = 'black')
plt.show()

No gráfico acima, temos o Top 10 dos atletas mais medalhistas da história das Olímpiadas.

Destaque para o primeiro lugar: o lendário Michael Phelps, da Natação, representando os EUA. Em seguida, temos 3 atletas soviéticos liderando o nosso Top 10. Novamente, esse resultado não poderia ser diferente, devido às questões já levantadas anteriormente a respeito das disputas entre os dois países.

Passamos a Ole Einar, norueguês; Takashi Ono, japonês; e Edoardo Mangiarotti, italiano. 

Os demais são estadunidenses. Temos, no total, 4 atletas dos EUA contra 3 da URSS. Vemos, que o conflito acirrado entre ambos marca nosso Top 10 mais uma vez, deixando espaço aberto apenas para atletas de países desenvolvidos (como esperado novamente).

In [ ]:
sports = list(df["Sport"].unique())
medal_counts = []
gold_counts=[]
for i in sports:
    x = df[df["Sport"] == i]
    medalCount = len(x)
    medal_counts.append(medalCount)
    gold = len(x[x["Medal"] == "Gold"])
    gold_counts.append(gold)


newData = pd.DataFrame({'Sport': sports,'Total Medals Count':medal_counts})
new_index = (newData['Total Medals Count'].sort_values(ascending=False)).index.values
sorted_data = newData.reindex(new_index)
sorted_data = sorted_data.head(10)

newData1 = pd.DataFrame({'Sport': sports,'Gold Count':gold_counts})
new_index1 = (newData1['Gold Count'].sort_values(ascending=False)).index.values
sorted_data1 = newData1.reindex(new_index1)
sorted_data1 = sorted_data1.head(10)

fig, axes = plt.subplots(2, 1, figsize = (20,10))
sns.barplot(ax = axes[0],x = sorted_data['Sport'], y = sorted_data['Total Medals Count'], palette= "Dark2")
sns.barplot(ax = axes[1],x = sorted_data1['Sport'], y = sorted_data1['Gold Count'], palette= "Set1")

fig.suptitle('Olympic Medals by Sport - Top 10', fontsize = 20, color = 'black')
plt.show()

Temos dois gráficos acima. O superior indica o Top 10 Esportes Medalhistas e o inferior o Top 10 Esportes Medalhistas de Ouro.

Atletismo e Natação ocupam, respectivamente, a primeira e a segunda posições de ambos. Isso pode ocorrer, talvez, por conta dos dois esportes terem uma quantidade de provas bastante significativa, superando, no geral, a dos demais, como futebol, por exemplo, considerando que, dessa forma, competem mais atletas também.

Em seguida, temos Ginástica e Remo, que trocam a terceira e a quarta posições nos gráficos. O mesmo ocorre com as demais. Apenas Esgrima, além de Atletismo e Natação, mantem sua posição nos dois rankings.

É importante notar que todos os dois Top 10 possuem os mesmos países, mas alguns com posições trocadas. Além disso, ao comparar os dois gráficos, percebemos que as medalhas de ouro por si só representam uma parcela bastante expressiva do total de medalhas conquistadas para cada esporte. É razoável, então, pensar que esses esportes ganham mais ouro, no geral, do que medalhas de prata e de bronze.

Um último pensamento bem interessante é que esportes mais tradicionais e populares, como Basquete, Vôlei, etc., não aparecem em nenhum dos rankings. O único que aparece é Futebol, mas, ainda assim, em uma posição menor do que se esperaria para esse esporte, dada a sua fama e popularidade.

In [ ]:
sports = list(df["Sport"].unique())
average_Age = []

for i in sports:
    x = df[df["Sport"] == i]
    average_age = sum(x["Age"])/len(x["Age"])
    average_Age.append(average_age)

newData = pd.DataFrame({'sports': sports,'average age':average_Age})
new_index = (newData['average age'].sort_values(ascending=False)).index.values
sorted_data = newData.reindex(new_index)

plt.figure(figsize = (20,5))
sns.barplot(x = sorted_data['sports'], y = sorted_data['average age'], palette= "Set3")
plt.xlabel('Sports', fontsize = 15, color = 'black')
plt.xticks(rotation=90)
plt.ylabel('Age', fontsize = 15, color = 'black')
plt.title('Average Age by Sport', fontsize = 20, color = 'black')
plt.show()

O gráfico acima nos informa a idade média para cada esporte. Podemos extrair disso resultantos um tanto quanto curiosos.

Os esportes com atletas mais velhos são o Roque, Competições Artísticas, Hipismo e Polo, por exemplo. Antes de mais nada, é importante ressaltar que o Roque foi considerado uma modalidade olímpica apenas na edição de 1904 (e nunca mais apareceu nos Jogos!). Hoje, é entendido como uma variação do Críquete, que também aparece no gráfico como um esporte de atletas mais velhos.

- Entre 40 e 50 anos, temos apenas Competições Artísticas e Roque;
- Entre 30 e 40 anos, ainda encontramos apenas esportes um pouco fora do gosto popular, como Hipismo, Alpinismo e Tiro;
- Entre 20 e 30 anos, temos uma mistura de esportes pouco e muito tradicionais, conhecidos do grande público. Nessa faixa, encontramos desde Jogo de Palma e - Bobsleigh até Tênis, Handebol, Beisebol, Vôlei, Basquete, Natação, Skate, Atletismo e Judô;
- Entre 10 e 20 anos, temos apenas Ginástica Rítmica. Sendo esse esporte, então, o mais jovem dentre os disputados nas Olímpiadas.